
#root {
  background: #3F332B;
  margin-left: 0%;
  margin-right: 0%;
}

#navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

#title {
  font-size: 320%;
  color: #CBA58B;
  margin-bottom: 8%;
  margin-top: 4%;
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: .03em;
}


#form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 500px;
  width:100%;
  background-repeat: no-repeat;
  background-image: url("../src//assets/map.jpg");
  background-position: top;
  background-attachment: fixed;
  background-size: 100%;
  
}

#formInput {
  width:100%;
}

#button {
  background: #332D25;
  margin-left: 1%;
  padding: 1.5% 3%;
  font-size: 160%;
  border: #CBA58B;
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: .05em;
}

#map{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
}

#map h2, #map h3 {
  color:#E1E0E0;
}

Image {
  margin-top: 8%;
}

#movieContainer{
  margin-top: 8%;
}

#movieCard{
  margin-top: 4%;
}

#weatherContainer{
  margin-top: 6%;
  width: 60%;
}

#weatherList{
  margin-top: 4%;
}

footer{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  color:#CBA58B;
}

